body{
    margin:0;
    padding:0;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../img/hatter1.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:bottom;
    background-color:grey;
}

header{
    background-image:linear-gradient(rgb(86, 100, 8),rgb(88, 43, 43)) ;
    min-height:70px;
    color:white;
    padding-top:30px;
    border-bottom:3px solid red;
    min-width:1000px;
}
header h1 {
    float:left;
    margin-left:400px;
    font-size:36pt;
    margin-top:0;
    padding:0;
}
header ul{
    text-align: right;
    list-style:none;
    margin:0;
    padding:0;
}
header li{
    float:right;
    padding:10px 40px;
    margin-top:30px;
    width:100px;
    max-width:100px;
}
header a{
    text-decoration:none;
    color:white;
    padding:10px;
    
}
header a:hover{
    font-weight:bold;   
}
header img{
    padding:0;
    margin:0 0 0 100px;
    height:100px;
    float:left;
    position: absolute;
    left:0;
    top:0;
}

#meki {
    border-radius:60px;
    box-align:center;
}
.hatter {
    background-color:rgba(240, 235, 231, 0.75);
    margin:60px 100px 0 100px;
    padding:30px;
    border-radius:20px;
    min-width:800px;
}
h2{
    color:green;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:28pt;
}

[type=submit], input[type="reset"]{
    border-style:solid;
    background-color:rgb(35, 66, 35);
    border-radius:10px;
    color:yellow;
    font-size:16pt;
    padding:20px;
    margin:0 20px;
    cursor:pointer;
    border:none;
}
[type=submit]:hover, input[type="reset"]:hover{
    background-color:rgb(18, 32, 18);
    box-shadow: 4px 4px rgb(152, 152, 153);
}
[type=submit]:active, input[type="reset"]:active{
    background-color:rgb(5, 19, 5);
    box-shadow:2px 2px rgb(92, 94, 92);
    outline:0;
}
input{
    outline:0;
}


footer{
    background-image:linear-gradient(rgb(0, 0, 0),rgb(88, 43, 43)) ;
    min-height:70px;
    color:white;
    padding-bottom:30px;
    border-top:3px solid green;
    min-width:1000px;
    margin-top:30px;
}

footer ul{
    text-align: right;
    list-style:none;
    margin:10px 0 0 20px;
    padding:0;
    float:left;
}
footer li{
    width:100px;
    max-width:100px;
    padding:5px;
}
footer a{
    text-decoration:none;
    color:white;
    padding:10px;
    
}
footer a:hover{
    font-weight:bold;   
}
footer img{
    padding:0;
    margin:0 100px 0 0;
    height:100px;
    float:right;
    left:0;
    top:0;
}
footer div{
    text-align:center;
    float:middle;
}