div {
    font-size:14pt;
}
form{
    width:750px;
    background-color:rgba(122, 143, 44, 0.836);
    padding:10px;
    border-radius:10px;
    color:white;
}
.elfogad{
    display:block;
 
}
.nev_email {
    display:inline-block;
    width:100px;
    margin-left:100px;
}
input[type=text], input[type=email]{
    box-sizing:border-box;
    width:20em;
    font-size:12pt;
    padding:5px 20px;
    margin:10px;
    border:1px solid black;
    border-radius:5px;
    color:rgb(5, 70, 5);
    background-color:rgb(243, 245, 142);
}
textarea{
    box-sizing:border-box;
    border:1px solid black;
    font-size:12pt;
    padding:5px 20px;
    border-radius:5px;
    max-width:700px;
    background-color:rgb(243, 245, 142);
}
textarea:focus {
    background-color:rgb(253, 255, 131);
    box-shadow:0 0 10px;
}
