.kerdesek{
    padding:30px;
    background-color:rgba(152, 179, 1, 0.733);
    margin:1px;
    border-radius:10px;
    width:750px;
    min-width:750px;
}
.kerdesek textarea{
    max-width: 90%;
}
.kerdesek label{
    display:inline-block;
    margin-top:10px;
    margin-bottom:10px;
}
.szemelyesAdatok label  {
    display:inline-block;
    width:200px;
    margin-left:100px;
    margin-right:100px;
}
 
h3{
    text-align:center;
    color:rgb(141, 3, 3);
    font-size:20pt;
}

input[type=text], input[type=email],
 input[type=number],  input[type=date]{
    box-sizing:border-box;
    width:260px;
    font-size:12pt;
    padding:5px 20px;
    margin:10px;
    border:1px solid black;
    border-radius:5px;
    color:rgb(5, 70, 5);
    background-color:rgb(243, 245, 142)
}
input[type=text]:focus, input[type=email]:focus,
  input[type=date]:focus, #ap:focus {
    border:1px solid rgb(39, 44, 8);
    box-shadow: 4px 4px rgb(49, 49, 49);
}


textarea, select{
    box-sizing:border-box;
    font-size:12pt;
    padding:5px 20px;
    margin:10px;
    border-radius:5px;
    color:rgb(5, 70, 5);
    background-color:rgb(243, 245, 142)
}
div > label, legend{
    border:1px solid black;
    padding:5px;
    font-size:14pt;
    color:white;
    background-color:rgb(196, 0, 0);
    border-radius:10px;
}
fieldset > label {
    border:1px solid black;
    padding:5px;
    font-size:14pt;
    color:white;
    background-color:rgb(39, 44, 8);
    border-radius:10px;
}



#down {
    text-decoration:none;
    color:white;
    background-color:red;
    border:1px solid white;
    font-size:14pt;
    padding:5px;
    display:inline-block;
    margin:0 500px;
    width:160px; 
}
#down:hover {
    box-shadow:0 0 10px;
}
#koszonjukKitoltotte{
    font-size:18pt;
    font-weight:bold;
    color:rgb(175, 42, 33);
}